---
import { getEntry } from 'astro:content';

const contactSettings = await getEntry('settings', 'contact');
const { email, formspreeId } = contactSettings.data;
---

<div class="contact-form-container">
  <h4>Send us a message:</h4>
  <form action={`https://formspree.io/f/${formspreeId}`} method="POST">
    <label>
      Your email:
      <input type="email" name="email" required />
    </label>
    <label>
      Your message:
      <textarea name="message" required></textarea>
    </label>
    <button type="submit" class="btn">Send</button>
  </form>
</div>
